<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lundincast.presentation">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/financemanagericon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.CreateTransactionActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>
        <activity android:name=".view.activity.CategoryListActivity"
            android:label="">
        </activity>
        <activity android:name=".view.activity.CreateOrUpdateCategoryActivity"
            android:label="">
        </activity>
        <activity android:name=".view.activity.SettingsActivity"
            android:label="" >
        </activity>
        <activity android:name=".view.activity.OverheadsListActivity"
            android:label="">
        </activity>

        <service android:name=".services.NotificationService"
            android:enabled="true">
        </service>

        <receiver android:name=".broadcastreceivers.NotificationAlarmReceiver" />

    </application>

</manifest>
